.my-select-box {
    padding: 7px;
    border-radius: 10px;
    border: 2px solid #006622;
}

.trigger-table {
    border: 3px solid #006622;
    border-radius: 10px;
    border-collapse: separate;
}

.trigger-control-btn {
    padding: 5px;
    border-radius: 10px;
}