.my-select-box {
    padding: 7px;
    border-radius: 10px;
    border: 1px solid black;
}

.trigger-table {
    border: 1px solid black;
}

.trigger-control-btn {
    padding: 5px;
    border-radius: 10px;
}

.trigger-table-title {
    font-weight: bold;
    font-size: 20px;
}